.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 3em;
    scroll-behavior: smooth;
}

.cards {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}